@media screen and (min-width: 768px) {
    .site-title {
        font-size: 2rem;
    }

    header {
        text-align: center;
    }

    header img {
        height: 150px;
    }

    #menu-button {
        display: none;
    }

    nav {
        display: flex;
        flex-direction: row;
        padding: 1rem;
        justify-content: space-evenly;
    }

    #nav-menu {
        display: flex;
        position: static;
        flex-direction: row;
    }

    #nav-menu a {
        border-bottom: none;
        padding: 1rem;
    }

    #menuToggle {
        display: none;
    }

    main {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 1200px;
        margin: 0 auto;
    }

    .content-row {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2%;
    }

    .content-text,
    .content-image {
        flex: 1 1 48%;
        box-sizing: border-box;
    }

    #class-section {
        display: flex;
        justify-content: space-evenly;
        gap: var(--margin);
        width: 100%;
    }

    #schedule-section .class-card {
        border: 1px solid var(--accent-color);
        border-radius: 6px;
        width: 100%;
    }
}